[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "==3.1.1"
flask-migrate = "==4.0.5"
sqlalchemy-serializer = "==1.4.1"
greenlet = "==3.1.1"

[dev-packages]

[requires]
python_version = "3.12"
